# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Builds
[Bb]uild/
[Bb]uilds/

# Visual Studio / IDE
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Unity temporary Hub resolver
Assets/Editor/HubForceResolve.cs
Assets/Editor/HubForceResolve.cs.meta
.vsconfig
.vsconfig
